@import url('Stylesheet.css');

/* ----------------navbar ------------------- */
.nav {
    transition: transform 1s ease-in-out 0.1;
}

.nav:hover {
    transform: scale(1.1);
    color: var(--green_900);
}

.active {
    color: var(--green_900);
}

.little_nav:hover {
    color: var(--green_900);
}


/* ----------------Vector Icons Navbar ----------------- */

.header_contact-link-1 {
    transition: transform 0.5s ease-in-out 0.1s;
}

.header_contact-link-1:hover{
    transform: scale(1.5);
}

/* --------------------Home Page Cards-------------------- */

.user-profile2 {
    transition: transform 0.5s ease-in-out 0.1s;
}

.user-profile2:hover {
    transform: scale(1.1);
}

.user-profile_image-2:hover{
    background-color: green;
}

/* ----------------Product Hover----------------------- */

.product-card_item {
	overflow:hidden;
	transition: transform 1s ease-in-out;
}

.product-card_item:hover .product-card_image1 {
    opacity: 0;
    z-index: 0;
}

.product-card_item:hover .product-card_image2 {
   	opacity: 1;
   	z-index: 1;
   	transform: scale(1.05);
}

.product-card_item:hover {
   transform: scale(1.05);
}

/* ------------- Product wishlist ------------------ */
.product-heart:hover {
    background-color: red;
}

/* --------- Add to cart button ------------------- */
.cart-button:hover {
	background-color: var(--green_900);
}
