<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <title>Ayurveda Hub - Admin Dashboard</title>
    <link rel="stylesheet" href="/CSS/Admin/Admin-Stylesheet.css">
    <link rel="stylesheet" href="/CSS/HoverEffects.css">
    <link rel="stylesheet" href="/CSS/Responsiveness.css">
    <link rel="stylesheet" href="/Admin/Admin-Stylesheet.css">
</head>

<body>
    <!-- Navbar Section Start -->
    <div class="home">
        <!-- Header Section -->
        <header class="navbar">
            <!-- Top Navbar Menu  -->
            <div class="header_top-navbar">
                <div class="header_top-navbar-group container-sm">
                </div>
            </div>
            <!-- Navbar Menu with Title -->
            <div class="header_main-navbar-row" id="navbar">
                <div class="header_main-navbar-group container-sm">
                    <div class="header_brand-group">
                        <div class="header_brand-row">
                            <a href="">
                                <h2 class="header_brand-name ul heading size-headingxs">AYURVEDA HUB</h2>
                            </a>
                        </div>
                        <!-- Navbar Menu  -->
                        <div class="header_menu-group">
                            <div class="header_menu-line"></div>
                            <ul class="header_menu-row">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <!-- ----------Hair Care products title-------------- -->
	        <div class="text-section-1">
	            <div class="section container-sm">
	                <p class="section_title-1 ui text">Admin Panel</p>
	            </div>
	        </div>
        </header>
        <!-- Navbar Section End  -->
       
    
    <!-- ------------Side bar Start---------  -->

        <aside class="sidebar">
            <ul class="sidebar_menu">
                    <li>
                        <a href="/Admin" class="sidebar_text">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Admin_ViewOrders" class="sidebar_text" >
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Admin_ChooseProduct" class="sidebar_text" style="background-color: var(--green_800); color: var(--yellow_50); border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Admin_ChooseCategory" class="sidebar_text">
                            Categories
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                    Transaction
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Review
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Help & Support
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Accounts
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Website Texts
                        </a>
                    </li>
            </ul>
        </aside>
        <!-- dashboard section start  -->
        <div class="dashboard_row">
            <div class="pannel">
                <h1 class="pannel_heading">Edit Product</h1>
				<hr>
                </div>
				<a href="/Admin/Admin_ViewProduct" class="admin-submit" style="margin-left: 40rem; margin-top: 10px; display: flex; align-items: center; justify-content: center;">View Products</a>
				<form  class="cat_field"  method="POST" action="/updateProduct" enctype="multipart/form-data">
				         <input type="hidden" name="product_id" value="${product.product_id}">
				    <div class="admin_input">
				        <label for="file" class="admin_input_label">Choose the Product Images:</label>
				        <br>
				        <!-- Display the existing product image if available -->
			        <div>
			        <br>
			            <img th:if="${product.product_image_url != null}" th:src="@{'/IMG/Product-Images/' + ${product.product_image_url}}" alt="Product Image" style="max-width: 200px; max-height: 200px;">
			        <br>
			        </div>
				        <input class="admin_input_fields" type="file" name="file" id="file">
				    </div>
				    
				    <div class="admin_input">
				        <label for="product_title" class="admin_input_label">Enter the Product Title:</label>
				        <br>
				        <input class="admin_input_fields" type="text" id="product_title" name="product_title"  th:value="${product.product_title}">
				    </div>
				    <div class="admin_input">
				        <label for="product_desc" class="admin_input_label">Enter the Product Description:</label>
				        <br>
				        <textarea class="admin_input_fields" name="product_desc" id="product_desc" rows="5" cols="60" th:text="${product.product_desc}"></textarea>
				    </div>
				    <div class="admin_input">
				        <label for="product_ingredient" class="admin_input_label">Enter the Product Ingredients:</label>
				        <br>
				        <textarea class="admin_input_fields" name="product_ingredient" id="product_ingredient" rows="5" cols="60" th:text="${product.product_ingredient}"></textarea>
				    </div>
				    <div class="admin_input">
				        <label for="product_ingredient" class="admin_input_label">Enter the Product Info:</label>
				        <br>
				        <textarea class="admin_input_fields" name="product_info" id="product_info" rows="5" cols="60" th:text="${product.product_info}"></textarea>
				    </div>
				    <div class="admin_input">
				        <label for="product_stock" class="admin_input_label">Enter the Product Stock:</label>
				        <br>
				        <input class="admin_input_fields" type="number" id="product_stock" name="product_stock" th:value="${product.product_stock}">
				    </div>
				    <div class="admin_input">
				        <label for="product_price" class="admin_input_label">Enter the Product Original Price:</label>
				        <br>
				        <input class="admin_input_fields" type="number" id="product_org_price" name="product_org_price" th:value="${product.product_org_price}">
				    </div>
				    <div class="admin_input">
				        <label for="product_price" class="admin_input_label">Enter the Product Current Price:</label>
				        <br>
				        <input class="admin_input_fields" type="number" id="product_prize" name="product_prize" th:value="${product.product_prize}">
				    </div>
				    <div class="admin_input">
				        <label for="product_category_id" class="admin_input_label">Choose the Category:</label>
				        <br>
				         <select name="product_category_id" id="product_category_id" class="admin_input_fields" >
   								<option th:each= "category : ${Category}" th:value="${category.category_name}" th:text="${category.category_name}"></option>
						 </select>
				         
				    </div>
				    <div class="admin_input">
				        <label for="product_category_id" class="admin_input_label">Choose the Inner Category:</label>
				        <br>
				          <select name="product_category_id" id="product_category_id" class="admin_input_fields" >
   								<option th:each= "category : ${Category}" th:value="${category.category_innercategory}" th:text="${category.category_innercategory}"></option>
						 </select>
				    </div>
				    <div class="admin_input">
				        <label for="product_status" class="admin_input_label">Choose the Status:</label>
				         <input type="radio" name="product_status" id="product_status" style="margin-left:30px;" th:checked="${product.product_status == 'on'}">
				         <label class="admin_input_label">Active</label>
				         <input type="radio" name="product_status" id="product_status" style="margin-left:30px;" th:checked="${product.product_status == 'off'}">
				         <label class="admin_input_label">Inactive</label>
				         <br>
				        <button type="submit" class="admin-submit" onclick="return confirm('Are you sure you want to change this?');">Save Changes!</button>
				        <br>
				        <br>
				        <br>
				    </div>
				</form>

            </div>
        </div>
        <!-- ---------Dashboard section end----------- -->
    </div>  
</body>

</html>