<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <title>Ayurveda Hub - Admin Dashboard</title>
    <link rel="stylesheet" href="/CSS/Stylesheet.css">
    <link rel="stylesheet" href="/CSS/HoverEffects.css">
    <link rel="stylesheet" href="/CSS/Responsiveness.css">
    <link rel="stylesheet" href="/CSS/Admin/Admin-Stylesheet.css">
</head>

<body>
    <!-- Navbar Section Start -->
    <div class="home">
        <!-- Header Section -->
        <header class="navbar">
            <!-- Top Navbar Menu  -->
            <div class="header_top-navbar">
                <div class="header_top-navbar-group container-sm">
                </div>
            </div>
            <!-- Navbar Menu with Title -->
            <div class="header_main-navbar-row" id="navbar">
                <div class="header_main-navbar-group container-sm">
                    <div class="header_brand-group">
                        <div class="header_brand-row">
                            <a href="Index.html">
                                <h2 class="header_brand-name ul heading size-headingxs">AYURVEDA HUB</h2>
                            </a>
                        </div>
                        <!-- Navbar Menu  -->
                        <div class="header_menu-group">
                            <div class="header_menu-line"></div>
                            <ul class="header_menu-row">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <!-- ----------Hair Care products title-------------- -->
	        <div class="text-section-1">
	            <div class="section container-sm">
	                <p class="section_title-1 ui text">Admin Panel</p>
	            </div>
	        </div>
        </header>
        <!-- Navbar Section End  -->
       
    
    <!-- ------------Side bar Start---------  -->

        <aside class="sidebar">
            <ul class="sidebar_menu">
                    <li>
                        <a href="/Admin" class="sidebar_text" style="background-color: var(--green_800); color: var(--yellow_50); border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Admin_ViewOrders" class="sidebar_text">
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="Admin/Admin_ChooseProduct" class="sidebar_text">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="Admin/Admin_ChooseCategory" class="sidebar_text">
                            Categories
                        </a>
                    </li>
                    <li>
                        <a href="" class="sidebar_text">
                    Transaction
                        </a>
                    </li>
                    <li>
                        <a href="" class="sidebar_text">
                            Review
                        </a>
                    </li>
                    <li>
                        <a href="" class="sidebar_text">
                            Help & Support
                        </a>
                    </li>
                    <li>
                        <a href="" class="sidebar_text">
                            Accounts
                        </a>
                    </li>
                    <li>
                        <a href="" class="sidebar_text">
                            Website Texts
                        </a>
                    </li>
            </ul>
        </aside>
        <!-- dashboard section start  -->
        <div class="dashboard_row" style="background-image: url('/IMG/Admin-Vector/Dashboard-vector.png');">
            <div class="dashboard_grid">
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Earning</p>
                    <p class="dashboard_box_text-2">Rs. 12,23,123/-</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Orders</p>
                    <p class="dashboard_box_text-2">1232 Order</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Refund <br/> Orders</p>
                    <p class="dashboard_box_text-2">10 Refund</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Cancel <br/> Orders</p>
                    <p class="dashboard_box_text-2">13 Canceled</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Today <br/> Sales</p>
                    <p class="dashboard_box_text-2">17 Orders</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">People <br/> Visited</p>
                    <p class="dashboard_box_text-2">23,12,232 Visited</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Products</p>
                    <p class="dashboard_box_text-2">200 Products</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Support <br/> Request</p>
                    <p class="dashboard_box_text-2">23 Requests</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Bugs <br/> Report</p>
                    <p class="dashboard_box_text-2">0 Reportes</p>
                </div>
            </div>
        </div>
    </div>  
</body>

</html>