<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <title>Skin Care - Ayurveda-Hub</title>
    <link rel="stylesheet" href="CSS/Stylesheet.css">
    <link rel="stylesheet" href="CSS/HoverEffect.css">
    <link rel="stylesheet" href="CSS/Animation.css">
    <link rel="stylesheet" href="CSS/Responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- ---------------Login Section Start------------- -->
		   <div id="signup" class="popup_2">
		       <div class="popup-content">
		           <img src="IMG/Vector_Images/X.svg" alt="Close Icon" class="close-icon"
		               onclick="closesignup(), openScroll()">
		           <iframe src="/login_signup.html" frameborder="0" class="popup-iframe"></iframe>
		       </div>
		   </div>
		   <!-- Login Section End -->
    <div class="home">
		<!-- Header Section -->
		<header>
		<!-- Top Navbar Menu  -->
			            <div class="header_top-navbar">
			                <div class="header_top-navbar-group container-sm">
			                    <div class="header_contact-group">
			                        <a href="#">
			                            <img src="IMG/Vector_Images/call-image.svg" alt="Call Image" class="header_contact-link">
			                        </a>
			                        <p class="header_contact-number ui text size-texts">+91 8958089580</p>
			                    </div>
			                    <p class="header_email ui text size-texts">| Ayurvedahub@gmail.com</p>
			                </div>
			            </div>
		<!-- Navbar Menu with Title -->
			            <div class="header_main-navbar-row" id="navbar">
			                <div class="header_main-navbar-group container-sm">
			                    <div class="header_brand-group">
			                        <div class="header_brand-row">
			                            <a href="/">
			                                <h2 class="header_brand-name ul heading size-headingxs">AYURVEDA HUB</h2>
			                            </a>
			                            <div class="header_icons">
			                                <a href="#">
			                                    <img src="IMG/Vector_Images/Search_icon.svg" alt="Search Icon"
			                                        class="header_contact-link-1">
			                                </a>
			                                <a onclick="opensignup(), closeScroll()" style="cursor: pointer;">
			                                    <img src="IMG/Vector_Images/User_icon.svg" alt="User Icon"
			                                        class="header_contact-link-1">
			                                </a>
			                                <a href="#">
			                                    <img src="IMG/Vector_Images/Heart_icon.svg" alt="Heart Icon"
			                                        class="header_contact-link-1">
			                                    <span class="count-box">0</span>
			                                </a>
			                                <a href="#">
			                                    <img src="IMG/Vector_Images/Shopping cart_icon.svg" alt="Cart Icon"
			                                        class="header_contact-link-1">
												<span class="count-box" style="right: 24rem;">0</span>
			                                </a>
			                            </div>
			                        </div>
		<!-- List Navbar Menu  -->
			                        <div class="header_menu-group">
			                            <div class="header_menu-line"></div>
			                            <ul class="header_menu-row">
			                                <li>
			                                    <a href="/HairCare_Product">
			                                        <p class="nav ui text size-textml">Hair</p>
			                                    </a>
			                                     <!-- Dropdown list for Hair -->
									            <ul class="dropdown-content">
									                <li><a href="#">Shampoos</a></li>
									                <li><a href="#">Conditioners</a></li>
									                <li><a href="#">Hair Oils</a></li>
									                <li><a href="#">Serums</a></li>
									                <li><a href="#">Organic Hair Color</a></li>
									            </ul>
			                                </li>
			                                <li>
			                                    <a href="/SkinCare_Product">
			                                        <p class="nav ui text size-textml">Skin</p>
			                                    </a>
			                                    <!-- Dropdown list for Skin -->
									            <ul class="dropdown-content">
									                <li><a href="#">Face Wash & Cleansers</a></li>
									                <li><a href="#">Face Cream & Moisturizers</a></li>
									                <li><a href="#">Toners & Mists</a></li>
									                <li><a href="#">Masks</a></li>
									                <li><a href="#">Serums & Treatments</a></li>
									                <li><a href="#">Lip Care</a></li>
									                <li><a href="#">Face Oils</a></li>
									                <li><a href="#">Face Scrubs</a></li>
									            </ul>
			                                </li>
			                                <li>
			                                    <a href="/HealthCare_Product">
			                                        <p class="nav ui text size-textml">Health</p>
			                                    </a>
			                                </li>
			                                <li>
			                                    <a href="/All_Product">
			                                        <p class="nav ui text size-textml">All Products</p>
			                                    </a>
			                                </li>
			                                <li>
			                                    <a href="#" target="_blank">
			                                        <p class="nav ui text size-textml">Community</p>
			                                    </a>
			                                     <!-- Dropdown list for Community -->
									            <ul class="dropdown-content">
									                <li><a href="Choose_Quiz">Take a Quiz</a></li>
									                <li><a href="#">Consult an Ayurvedhic Expert</a></li>
									                <li><a href="E_Book">Download an E-Book</a></li>
									                <li><a href="#">Find a TheRapist</a></li>
									            </ul>
			                                </li>
			                                <li>
			                                    <a href="#" target="_blank">
			                                        <p class="nav ui text size-textml">About us</p>
			                                    </a>
			                                </li>
			                                <li>
			                                    <a href="#" target="_blank">
			                                        <p class="nav ui text size-textml">Account</p>
			                                    </a>
			                                </li>
			                            </ul>
			                        </div>
		<!-- List Navbar End-->
			                    </div>
			                </div>
			            </div>
            <!-- ----------title-------------- -->
            <div class="text-section-1">
                <div class="section container-sm">
                    <p class="section_title-1 ui text">Take a Quiz</p>
                </div>
            </div>
            <div class="text-section-1">
                <div class="section container-sm">
                    <p class="section_title-1 ui text">Personalised quizzes that will help you find the right magic potion for you!</p>
                </div>
            </div>
            <!-- ---------Products Navbar------------- -->
            <div class="header_navigation-section">
                <div class="header_navigation-group container-sm">
                    <p class="little_nav" style="color: #195e00; transform: scale(1.3);">Take a Quiz</p>
                    <p class="little_nav">Consult an Ayurvedhic Expert</p>
                    <p class="little_nav">Download an E-Book</p>
                    <p class="little_nav">Find a TheRapist</p>
                </div>
            </div>
       </header>
       
       	<!-- ----------------------Quiz Section Rows Hair---------------- -->
       		<div class="newscreeenbody">
		        <div class="quizrow">
		            <div class="quiz-section">
		                <h1 class="quiz-heading-1">Hair Care</h1>
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/haircare.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Hair Care Quiz</p>
		                            <p class="quiz-section_content_desc">A good hair day can make so much diffference in our lives. With a variety of hair care range we have a solution for each of your hair problems may it be hairfall, dryness, dandruff or anything else. Our main aim is to give you the hair that will make you feel like you are in a shampoo commercial and for that we would like to help you find the right potion for you and your hair.</p>
		                        </div>
		                        <a href="Quiz/Hair_Quiz" class="quiz-section_content_button"> Find the right recipe for your Hair.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		 <!-- ----------------------Quiz Section Rows Skin---------------- -->
       		<div class="newscreeenbody">
		        <div class="quizrow">
		            <div class="quiz-section">
		                <h1 class="quiz-heading-1">Skin Care</h1>
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/skincare.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Skin Care Quiz</p>
		                            <p class="quiz-section_content_desc">Every skin needs their bestfriend which is a personalised skin care routine. Everyone has a different skin type as well as different issues which we aim to solve with our skin care range. Which will give your skin the glow, radiance and love that it deserves.</p>
		                        </div>
		                        <a href="Quiz/Skin_Quiz" class="quiz-section_content_button"> Find the right recipe for your Skin.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		
		<!-- ----------------------Quiz Section Rows Health---------------- -->
       		<div class="newscreeenbody">
		        <div class="quizrow">
		            <div class="quiz-section">
		                <h1 class="quiz-heading-1">Health Care</h1>
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/bone.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Bone, Joint and Muscle Health</p>
		                            <p class="quiz-section_content_desc">Joint and muscle pain can bring a stop to our daily lives. We at Amrutam have products personalised for each problem you face, may it be joint pain or body pain. With a few steps get rid of the pain which makes you feel like 100 year old at the age of 30.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		        	<!-- ----------------------Quiz Section Rows Dental---------------- -->
		         <div class="quizrow">
		            <div class="quiz-section">
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/dental.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Dental Health Quiz</p>
		                            <p class="quiz-section_content_desc">Dental health is often overlooked but it has so much impact on our overall health. With the aim to help you out we have created a personalised quiz for your oral health which will give you a reason to smile wider and show those beautiful pearls.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		         <div class="quizrow">
		            <div class="quiz-section">
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/eye.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Eye Health Quiz</p>
		                            <p class="quiz-section_content_desc">After hours of scrolling and sitting in front of our computer screens our eyes deserve all the love and care. Give your kaali kaali aankhen what they deserve which will make them say 'Eye love you'.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		         <div class="quizrow">
		            <div class="quiz-section">
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/immunity.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Immunity and Wellness Quiz</p>
		                            <p class="quiz-section_content_desc">The seasonal changes and our sedentary lifestyle can sometimes take a tolll on our immunity, which then can lead to various health issues. With our personalised quiz you can give your body the right care to improve its immunity in few steps.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		         <div class="quizrow">
		            <div class="quiz-section">
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/mental.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Mental Health Quiz</p>
		                            <p class="quiz-section_content_desc">Mental health gets overlooked a lot of times, which can also influence how we handle stress, interacts with others, and make decisions. Find yourself the right care and improve your mental health with our personalised quiz.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		         <div class="quizrow">
		            <div class="quiz-section">
		                <div class="quiz-section_content">
		                    <img src="IMG/BG-Image/Quiz_page/sexual.webp" alt="Image" class="quiz-section_image">
		                    <div class="quiz-section_details">
		                        <div class="quiz-section_quiz-info">
		                            <p class="quiz-section_content_title">Sexual Health Quizz</p>
		                            <p class="quiz-section_content_desc">Sexual health is an important part of our lives. May it be related to fertility, libido or any other sexual health problem we have a solution for it. Let us help you find the right recipe for you with our personalised quiz.</p>
		                        </div>
		                        <a href="#" class="quiz-section_content_button"> Find the right recipe for you.</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		<!-- -----------------Footer----------------------- -->
    <footer class="footer">
        <div>
            <div class="footer_content">
                <div class="footer_top">
                    <div class="footer_contact">
                        <p class="footer_title ui text size-textxl">Get in touch</p>
                        <p class="footer-cat ui text size-textxl">Categories</p>
                    </div>
                    <div class="footer_info">
                        <div class="footer_contact-details">
                            <a href="mailto:support@ayurvedahubs.co.in" target="_blank" rel="noreferrer">
                                <p class="footer_email-link ui text size-textlg">support@ayurvedahubs.co.in
                                </p>
                            </a>
                            <p class="footer_address ui text size-textlg">Ayurvedahubs Pvt. Ltd.,<br />29-A,
                                Duhai Industrial Area, <br />Duhai,<br />Ghaziabad - 201204</p>
                            <p class="footer_phone-number ui text size-textlg">+91 8958089580</p>
                        </div>
                        <ul class="footer_categories">
                            <li>
                                <a href="All_products.html">
                                    <p class="ui text size-textlg">Shop All</p>
                                </a>
                            </li>
                            <li>
                                <a href="Hair_Care_Products.html">
                                    <p class="ui text size-textlg">Hair care</p>
                                </a>
                            </li>
                            <li>
                                <a href="Skin_Care_products.html">
                                    <p class="ui text size-textlg">Skin Care</p>
                                </a>
                            </li>
                            <li>
                                <a href="Health_care.html">
                                    <p class="ui text size-textlg">Health care</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_newsletter">
                        <div class="footer_newsletter-group">
                            <p class="footer_title ui text size-textxl">Newsletter</p>
                            <p class="footer_address ui text size-textlg">
                                Subscribe to our Newsletter and Join Ayurvedhic-hub Famly today!
                            </p>
                        </div>
                        <div class="footer_app-download">
                            <p class="footer_title ui text size-textxl">Download Ayurveda-Hub App</p>
                            <a href="#">
                                <img src="IMG/Vector_Images/google-play-badge.jpg" alt="App Download Image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="footer_information">
                        <p class="footer_title ui text size-textxl">Information</p>
                        <ul class="footer_information-list">
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">About us
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Terms and Conditions
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Privacy Policy
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Privacy Policy for Mobile Apps
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Shipping and Returns Policy
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">International Delivery
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">For Business, Hotels and Resorts
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_quick-links">
                        <p class="footer_title ui text size-textxl">Quick Links</p>
                        <ul class="footer_information-list">
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">My Account
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Track Your Order
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">Recycle Projects
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="ui text size-textmd">FAQs
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <p class="footer_copyright-text ui text size-textlg">Copyright © 2024 Ayurveda Hub</p>
        </div>
    </footer>
	</div>
	<script src="JS/script.js"></script>
</body>
</html>