<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <title>Ayurveda Hub - Coming Soon!</title>
    <link rel="stylesheet" href="/CSS/HoverEffects.css">
     <link rel="stylesheet" href="CSS/Responsive.css">
    <link rel="stylesheet" href="/CSS/Stylesheet.css">
    <link rel="stylesheet" href="/CSS/Admin/Admin-Stylesheet.css">
</head>

<body>
    <!-- Navbar Section Start -->
    <div class="home">
        <!-- Header Section -->
        <header>
            <!-- Navbar Menu with Title -->
            <div class="header_main-navbar-row" id="navbar">
                <div class="header_main-navbar-group container-sm">
                    <div class="header_brand-group">
                        <div class="header_brand-row">
                            <a href="">
                                <h2 class="header_brand-name ul heading size-headingxs">AYURVEDA HUB</h2>
                            </a>
                        </div>
                        <!-- Navbar Menu  -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Navbar Section End  -->
        <!-- ----------Hair Care products title-------------- -->
        <div class="text-section-1">
            <div class="section container-sm">
                <p class="section_title-1 ui text">Coming Soon!</p>
            </div>
        </div>
        
         <div class="error" style="background: url('/IMG/BG-Image/comingsoon.jpg'); background-size: cover;">
         	<h1 class="header_brand-name ul heading size-text3xl" style="margin-top: 2rem">Ayurvedic Wellness, Delivered to You Soon!</h1>
       		<a type="submit" class="admin-submit" href="/" style="display: flex; justify-content: center; align-items: center;">Home!</a>
       	</div>
       </div>
</body>

</html>