<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ayurveda Hub - Traditional Remedies for Modern Wellbeing</title>
<link rel="stylesheet" href="CSS/Stylesheet.css">
<link rel="stylesheet" href="CSS/HoverEffect.css">
<link rel="icon" type="icon" href="/IMG/Vector_Images/clove.svg">
</head>

<body>
	<!-- ---------------Login Section Start------------- -->
	<div id="signup" class="popup_2">
		<div class="popup-content">
			<img src="IMG/Vector_Images/X.svg" alt="Close Icon"
				class="close-icon" onclick="closesignup(), openScroll()">
			<iframe src="/login_signup.html" frameborder="0" class="popup-iframe"></iframe>
		</div>
	</div>
	<!-- Login Section End -->
	<!-- Navbar Section Start -->
	<div class="home">
		<!-- Header Section -->
		<header>
			<!-- Top Navbar Menu  -->
			<div class="header_top-navbar">
				<div class="header_top-navbar-group container-sm">
					<div class="header_contact-group">
						<a href="#"> <img src="IMG/Vector_Images/call-image.svg"
							alt="Call Image" class="header_contact-link">
						</a>
						<p class="header_contact-number ui text size-texts">+91
							8958089580</p>
					</div>
					<p class="header_email ui text size-texts">|
						Ayurvedahub@gmail.com</p>
				</div>
			</div>
			<!-- Navbar Menu with Title -->
			<div class="header_main-navbar-row" id="navbar">
				<div class="header_main-navbar-group container-sm">
					<div class="header_brand-group">
						<div class="header_brand-row">
							<a href="/">
								<h2 class="header_brand-name ul heading size-headingxs">AYURVEDA
									HUB</h2>
							</a>
							<div class="header_icons">
								<a href="#"> <img src="IMG/Vector_Images/Search_icon.svg"
									alt="Search Icon" class="header_contact-link-1">
								</a> <a onclick="opensignup(), closeScroll()"
									style="cursor: pointer;"> <img
									src="IMG/Vector_Images/User_icon.svg" alt="User Icon"
									class="header_contact-link-1">
								</a> <a href="#"> <img src="IMG/Vector_Images/Heart_icon.svg"
									alt="Heart Icon" class="header_contact-link-1">
								</a> <a href="#"> <img
									src="IMG/Vector_Images/Shopping cart_icon.svg" alt="Cart Icon"
									class="header_contact-link-1">
								</a>
							</div>
						</div>
						<!-- List Navbar Menu  -->
						<div class="header_menu-group">
							<div class="header_menu-line"></div>
							<ul class="header_menu-row">
								<li><a href="/HairCare_Product">
										<p class="nav ui text size-textml">Hair</p>
								</a> <!-- Dropdown list for Hair -->
									<ul class="dropdown-content">
										<li th:each="haircategory : ${Hair_Category}"><a
											href="/HairCare_Product"
											th:text="${haircategory.category_name}"></a></li>
									</ul></li>
								<li><a href="/SkinCare_Product">
										<p class="nav ui text size-textml">Skin</p>
								</a> <!-- Dropdown list for Skin -->
									<ul class="dropdown-content">
										<li th:each="skincategory : ${Skin_Category}"><a
											href="/SkinCare_Product"
											th:text="${skincategory.category_name}"></a></li>
									</ul></li>
								<li><a href="/Healthcare_Product">
										<p class="nav ui text size-textml">Health</p>
								</a></li>
								<li><a href="/All_Product">
										<p class="nav ui text size-textml">All Products</p>
								</a></li>
								<li><a>
										<p class="nav ui text size-textml">Community</p>
								</a> <!-- Dropdown list for Community -->
									<ul class="dropdown-content">
										<li><a href="Choose_Quiz">Take a Quiz</a></li>
										<li><a href="ComingSoon">Consult an Ayurvedhic Expert</a></li>
										<li><a href="E_Book">Download an E-Book</a></li>
										<li><a href="ComingSoon">Find a TheRapist</a></li>
									</ul></li>
								<li><a href="ComingSoon">
										<p class="nav ui text size-textml">About us</p>
								</a></li>
								<li><a href="ComingSoon">
										<p class="nav ui text size-textml">Account</p>
								</a></li>
							</ul>
						</div>
						<!-- List Navbar End-->
					</div>
				</div>
			</div>
		</header>
		<!--  Text  -->
		<div class="text-section-1">
			<div class="section container-sm">
				<p class="section_title-1 ui text">My Account</p>
			</div>
		</div>
		
		<!-- Main Content -->

		<aside>
		<ul class="sidebar_menu">
                    <li>
                        <a href="ComingSoon" class="sidebar_text" style="background-color: var(--green_800); color: var(--yellow_50); border-top: 1px solid rgba(0, 0, 0, 0.1);">
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Buy Again
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Coupons
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Wallet
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                    		WishList
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Help and Support
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Addresses
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Profile Settings
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a href="ComingSoon" class="sidebar_text">
                            Terms and Conditions
                        </a>
                    </li>
            </ul>
		</aside>
		<!-- dashboard section start  -->
        <div class="dashboard_row">
            <div class="dashboard_grid">
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Earning</p>
                    <p class="dashboard_box_text-2">Rs. 12,23,123/-</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Orders</p>
                    <p class="dashboard_box_text-2">1232 Order</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Refund <br/> Orders</p>
                    <p class="dashboard_box_text-2">10 Refund</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Cancel <br/> Orders</p>
                    <p class="dashboard_box_text-2">13 Canceled</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Today <br/> Sales</p>
                    <p class="dashboard_box_text-2">17 Orders</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">People <br/> Visited</p>
                    <p class="dashboard_box_text-2">23,12,232 Visited</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Total <br/> Products</p>
                    <p class="dashboard_box_text-2">200 Products</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Support <br/> Request</p>
                    <p class="dashboard_box_text-2">23 Requests</p>
                </div>
                <div class="dashboard_box">
                    <p class="dashboard_box_text">Bugs <br/> Report</p>
                    <p class="dashboard_box_text-2">0 Reportes</p>
                </div>
            </div>
        </div>
		<!-- Footer  -->
		<footer class="footer">
			<div>
				<div class="footer_content">
					<div class="footer_top">
						<div class="footer_contact">
							<p class="footer_title ui text size-textxl">Get in touch</p>
							<p class="footer-cat ui text size-textxl">Categories</p>
						</div>
						<div class="footer_info">
							<div class="footer_contact-details">
								<a href="mailto:support@ayurvedahubs.co.in" target="_blank"
									rel="noreferrer">
									<p class="footer_email-link ui text size-textlg">
										support@ayurvedahubs.co.in</p>
								</a>
								<p class="footer_address ui text size-textlg">
									Ayurvedahubs Pvt. Ltd.,<br />29-A, Duhai Industrial Area, <br />Duhai,<br />Ghaziabad
									- 201204
								</p>
								<p class="footer_phone-number ui text size-textlg">+91
									8958089580</p>
							</div>
							<ul class="footer_categories">
								<li><a href="#">
										<p class="ui text size-textlg">Shop All</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textlg">Hair care</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textlg">Skin Care</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textlg">Health care</p>
								</a></li>
							</ul>
						</div>
						<div class="footer_newsletter">
							<div class="footer_newsletter-group">
								<p class="footer_title ui text size-textxl">Newsletter</p>
								<p class="footer_address ui text size-textlg">Subscribe to
									our Newsletter and Join Ayurvedhic-hub Famly today!</p>
							</div>
							<div class="footer_app-download">
								<p class="footer_title ui text size-textxl">Download
									Ayurveda-Hub App</p>
								<a href="#"> <img
									src="IMG/Vector_Images/google-play-badge.jpg"
									alt="App Download Image">
								</a>
							</div>
						</div>
					</div>
					<div class="footer_bottom">
						<div class="footer_information">
							<p class="footer_title ui text size-textxl">Information</p>
							<ul class="footer_information-list">
								<li><a href="#">
										<p class="ui text size-textmd">About us</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Terms and Conditions</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Privacy Policy</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Privacy Policy for Mobile
											Apps</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Shipping and Returns Policy
										</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">International Delivery</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">For Business, Hotels and
											Resorts</p>
								</a></li>
							</ul>
						</div>
						<div class="footer_quick-links">
							<p class="footer_title ui text size-textxl">Quick Links</p>
							<ul class="footer_information-list">
								<li><a href="#">
										<p class="ui text size-textmd">My Account</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Track Your Order</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">Recycle Projects</p>
								</a></li>
								<li><a href="#">
										<p class="ui text size-textmd">FAQs</p>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_copyright">
				<p class="footer_copyright-text ui text size-textlg">Copyright ©
					2024 Ayurveda Hub</p>
			</div>
		</footer>
	</div>
</body>
</html>